*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Myeongjo', serif;
  color: #333;
}

body{
  background-color: rgb(250, 250, 250);
}
.wrapper{
  max-width: 1400px;
  margin: auto;
}
header{
  position: relative;
  text-align: center;
  /* background: rgba(248, 194, 145,0.4); */
}
header h1{
  padding: 15px;
  text-transform: lowercase;
  letter-spacing: 0.1em;
  font-weight: 400;
  font-size: 30px;
  font-family: 'Nanum Myeongjo', serif;
}
header h1 span{
  text-transform: capitalize;
  font-family: 'Parisienne', cursive;
  font-size: 38px;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
}

/* Nav styles */
nav{
  position: relative;
  justify-content: center;
  margin-bottom: 40px;
  /* background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(248, 194, 145,0.3), rgba(255,255,255,0)); */
  /* background: rgba(248, 194, 145,0.2); */
}
nav li{
  display: inline-block;
  list-style-type: none;
  padding: 5px 10px;
  font-size: 14px;
}
.menu{
  background: rgba(248, 194, 145,0.2);
  border-radius: 20px;
  width: 115px;
  text-align: center;
  margin: 0 10px;
}
nav a{
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  color: rgb(85, 85, 85);
}
#login{
  display: block;
  position: absolute;
  right: 10px;
  top: -70px;
  margin: 0;
  padding: 0;
  /* background-image: radial-gradient(circle,rgba(248, 194, 145,0.3),white); */
  /* background:rgba(248, 194, 145,0.3); */
  border-radius: 50%;
}
#login a{
  position: relative;
  padding: 7px;
  padding-right: 5px;
  color:rgba(51,51,51,0.4);
  font-size: 17px;
}
#log-out{
  display: none;
  position: absolute;
  right: 10px;
  top: -72px;
  margin: 0;
  padding: 0;
}
#log-out a{
  position: relative;
  padding: 7px;
  padding-right: 5px;
  color:rgba(51, 51, 51 ,0.6);
  font-size: 13px;
}
#account{
  display: none; 
  position: absolute;
  right: 40px;
  top: -65px;
  margin: 0;
  padding: 0;
  font-size: 11px;
}
#tooltip{
  position: absolute;
  visibility: hidden;
  top: 35px;
  right: -10px;
  background: rgba(51, 51, 51 ,0.6);
  color:white;
  padding: 5px 7px;
  border-radius: 20px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s;
}
#login a:hover{
  color:rgba(51, 51, 51);
}
#login a:hover #tooltip, #log-out a:hover #tooltip{
  visibility: visible;
  opacity: 1;
}

/* side-nav menu */
.side-nav-burger{
  display: none;
}
.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(247, 212, 181);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.side-nav ul{
  text-align: center;
}
.side-nav a {
  padding: 8px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.side-nav a:hover {
  color: #f1f1f1;
}
#login-sidenav{
  display: block;
  margin-top: 50px;
}
#login-sidenav a{
  font-size: 18px;
}
#account-sidenav{
  display: none; /* block */
  margin-top: 50px;
  color: #818181;
}
#log-out-sidenav{
  display: none; /* block */
}
#account-sidenav a{
  font-size: 16px;
}
#log-out-sidenav a{
  font-size: 14px;
}

/* Modal */
#modal-login{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /*Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
/* Modal Content */
.modal-content{
  position: relative;
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  max-width: 500px;
  min-height: 470px;
  text-align: center;
}
.close-modal {
  color:rgba(51, 51, 51 ,0.6);;
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.modal-welcome{
  text-transform: capitalize;
  font-family: 'Parisienne', cursive;
  font-size: 38px;
}
.modal-content li{
  list-style-type: none;
  margin: 30px auto;
  box-shadow: 0.5px 0.5px 4px rgb(148, 148, 148);
}
.collapse-header:hover{
  cursor: pointer;
}
.collapse-header h1{
  text-transform: uppercase;
  font-size: 18px;
  padding: 10px;
  color:rgb(85, 85, 85);
  background: rgba(248, 194, 145,0.4);
  border: 1px solid rgba(148, 148, 148, 0.2);
}
.collapse-body{
  position: relative;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.form-container{
  padding: 10px 0px;
}
.collapse-body input{
  display: block;
  margin: 15px auto;
  padding: 15px;
  width: 70%;
  color: black;
  font-size: 12px;
}
.collapse-body input:focus {
  outline: none;
  border:1px solid rgba(85,85,85);;
}
.info{
  color: rgba(248, 194, 145,0.6);
  position: absolute;
  top: 167px;
  right: 45px;
}
.info:hover{
  cursor: pointer;
}
.info:hover .tooltip-info, .info:focus .tooltip-info{
  opacity: 1;
}
.tooltip-info{
  position: absolute;
  top: 20px;
  right: 0px;
  width: 150px;
  background: white;
  border: 0.5px solid black;
  padding: 6px;
  font-size: 11px;
  line-height: 1.3;
  opacity: 0;
  transition: opacity 0.3s;
}
.collapse-body button{
  padding: 10px;
  background: rgba(248, 194, 145,0.4);
  border: none;
  border-radius: 2px;
}
.collapse-body form::after{
  content: " ";
  display: block;
  height: 10px;
  width: 10px;
  margin: 10px;
}
.collapse-body button:hover,
.collapse-body button:focus {
  cursor: pointer;
}
.error{
  display: none;
  padding: 0 17px 15px 17px;
  font-size: 12px;
  color: red;
}

.psw-forget{
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin: 0 auto;
  font-size: 12px;
  text-decoration: underline;
  color: rgba(51, 51, 51 ,0.6);
}
.psw-forget:hover,
.psw-forget:focus {
  color: #000;
  cursor: pointer;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbarLogin {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; 
  color: #fff; 
  text-align: center; 
  border-radius: 2px;
  padding: 16px; 
  position: fixed; /* Sit on top of the screen */
  z-index: 1;
  left: 50%; 
  bottom: 30px;
}
/* Show the snackbar when login */
#snackbarLogin.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.showMsg {
  display: block; /* Show the span error msg */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}



/* Aside styles */
.aside{
  flex-grow: 1;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.aside .img-nous{
  width: 200px;
  height: 266px;
  background: url("img/nous/nous2-4.jpeg") no-repeat;
  background-size: cover;
  margin: 40px auto;
  box-shadow: 0.5px 0.5px 4px #555;
  animation: changeImg 120s steps(1, end) infinite;
}
@keyframes changeImg {
  50% {transition: background 1s;background: url("img/nous/nous2-2.jpeg") no-repeat;background-size: cover;}
}
.aside-details{
  margin: 20px auto;
  padding: 10px;
  background: rgba(248, 194, 145,0.4);
  box-shadow: 0.5px 0.5px 4px rgb(148, 148, 148);
}
.title{
  margin: 10px;
  padding: 10px;
  text-align: center;
  line-height: 200%;
}
.title b{
  font-size: 18px;
}
.weather img{
  opacity:0.6;
  width: 90px;
  height: 90px;
  background: rgba(248, 194, 145,0.7);
  border-radius: 50%;
  margin-top: 15px;
  margin-bottom: 10px;
}
.weather-content{
  margin: auto;
}
.weather-content div{
  padding-bottom: 5px;
}

/* Video styles */
.videos-container{
  flex-grow: 2;
  margin: 0 10px;
}
.video{
  margin: 40px auto;
  padding: 0;
  max-width: 700px;
  /* max-height: 550px; */
  background: white;
  border: 1px solid rgb(240, 240, 240);
}
.video-content{
  padding: 15px 8px;
}
.video-content h2{
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 18px;
}
.video-content p{
  font-size: 14px;
}
.iframe-container{
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.youtube{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
.icons{
  padding:10px 5px;
}
.icon{
  text-decoration: none;
  color: rgb(51, 51, 51);
  font-size: 22px;
  margin: 0 10px;
  cursor: pointer;
}
.fa-heart, .fa-comment, .fa-user {
  font-weight: 300 !important;
}
.icon:hover{
  color: rgba(248, 194, 145,0.6);
}

.dbinfo {
  padding: 0 5px 10px 15px;
}
.dbinfo .likes{
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 14px;
  color: black;
}
.dbinfo .comments{
  margin-bottom: 7px;
}
.dbinfo .userID{
  font-weight: 800;
  font-size: 14px;
  margin-right: 8px;
}
.dbinfo .userComment{
  font-size: 14px;
}
.dbinfo .moreComments, .dbinfo .moreComments span{
  color: rgb(180, 180, 180);
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 8px;
  cursor: pointer;
}

footer{
  margin-top: 50px;
  background:rgb(250, 250, 250);
  text-align: center;
}
footer p{
  color: rgb(51, 51, 51);
  font-size: 12px;
  padding: 20px;
}

/* Media QUERIES */

@media screen and (max-width: 970px){
  .nav-bar{
    display: none;
  }
  .side-nav-burger{
    display: inline-block;
    cursor: pointer;
    position: absolute;
    top: 30px;
    left: 28px;
    -webkit-transition: left 0.4s ease-out; /* Safari prior 6.1 */
    transition: left 0.4s ease-out;
  }
  .bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color:rgba(85, 85, 85, 0.9);
    margin: 2px 0;
    transition: 0.4s;
  }
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-3px, 4px);
  }
  .change .bar2 {opacity: 0;}
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-3px, -4px);
  }
  .side-nav-burger:hover .bar1, .side-nav-burger:hover .bar2, .side-nav-burger:hover .bar3{
    background-color: rgb(51, 51, 51);
  }
  .change.side-nav-burger:hover .bar1, .change.side-nav-burger:hover .bar3{
    background-color: #f1f1f1;
  }

  #modal-login{
    padding-top: 50px;
  }
  .modal-content{
    width: 70%;
    max-width: 500px;
    min-height: 470px;
  }
  .modal-welcome{
    font-size: 28px;
  }
  .collapse-body form::after{
  margin: 15px;
 }
  .aside{
    height: 450px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .aside .img-nous{
    order:2;
    margin: 5px 20px;
  }
  .title{
    order:1;
    width: 100vw;
    padding-top: 20px;
  }
  .aside-content{
    margin: 5px 20px;
    order:2;
  }
}
@media screen and (max-width: 700px){
  .info{
    right: 28px;
  }
  header h1{
    padding: 15px 20px 15px 25px;
    font-size: 25px;
  }
  header h1 span{
    font-size: 33px;
  }
  .modal-content{
    width: 85%;
  }
}

@media screen and (max-width: 510px){
  header h1{
    padding: 15px 35px 15px 65px;
    font-size: 20px;
  }
  header h1 span{
    font-size: 28px;
  }
  .side-nav-burger{
    top: 25px;
  }
  #modal-login{
    width: 100vw;
    height: 100vh;
    overflow: none;
    padding: 10px;
  }
  .modal-content{
    width: 95vw;
    height: 95vh;
  }
  .modal-welcome{
    font-size: 20px;
  }
  .modal-content li{
    margin: 20px auto;
  }
  .collapse-header h1{
    font-size: 14px;
    padding: 10px;
  }
  .collapse-body input{
    padding: 10px;
    width: 80%;
  }
  .collapse-body form::after{
    margin: 8px;
   }
  .info{
    top: 112px;
    right: 10px;
  }
  .aside{
    font-size: 8px;
    height: 350px;
    justify-content: space-around;
  }
  .aside .img-nous{
    width: 150px;
    height: 200px;
    margin: 5px 0px;
  }
  .title{
    order:1;
    width: 100vw;
    padding: 10px 0px;
  }
  .title b{
    font-size: 14px;
  }
  .aside-content{
    order:2;
    margin: 0px;
  }
  .aside-details{
    margin: 12px auto;
    padding: 7px;
  }
  .video-content h2{
    margin-bottom: 10px;
    font-size: 14px;
  }
  .video-content p{
    font-size: 11px;
  }
  .icons{
    padding:2px;
  }
  .icon{
    font-size: 14px;
    margin: 0 5px;
  }
  footer p{
    font-size: 10px;
  }
}

@media screen and (max-width: 377px){
  header h1{
    padding: 15px 35px 15px 65px;
    font-size: 20px;
  }
  .side-nav-burger{
    top: 37px;
  }
}

